<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-color: grey;
        }
        #blah { cursor: move; }
    </style>
</head>
<body>
<div id="background" style="height: 300px; border: 1px solid red; position: relative; overflow: hidden;">
    <img id="blah" src="/api/images/bg.png" alt="your image" style="position: absolute;
        {{#unless dimensions}}
            display: none;
        {{/unless}}
        {{#if dimensions}}
            top: {{dimensions.[1]}}px;
            left: {{dimensions.[0]}}px;
        {{/if}}" />
</div>
<form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
    <input type="hidden" name="dimensions" id="dimensions" value="{{dimensions}}" />
    <input type="file" name="userPhoto" id="userPhoto"/>
    <input type="submit" value="Upload Image" name="submit">
</form>
<script language="javascript" type="text/javascript" src="js/dom-drag.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var el = document.getElementById("blah");
                var dim = document.getElementById("dimensions");
                el.style.display = "none";
                el.style.top = 0;
                el.style.left = 0;
                var parent = el.parentElement;
                console.log(parent.offsetHeight);
                el.src=e.target.result;
                // They go in the order: minX, maxX, minY, maxY.
                var widthDiff = parent.offsetWidth - el.width;
                var heightDiff = parent.offsetHeight - el.height;
                var restrictDim = [(widthDiff < 0) ? widthDiff : 0,
                    (widthDiff > 0) ? widthDiff: 0,
                    (heightDiff < 0) ?  heightDiff : 0, (heightDiff < 0) ? 0 : heightDiff ];

                if (!Drag.o) {
                    Drag.init.apply(this, [el,null].concat(restrictDim));
                    el.onDragEnd = function() {
                        dim.value = JSON.stringify([parseInt(el.style.left), parseInt(el.style.top)]);
                    };
                }
                el.style.display = "block";
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    /*
    document.getElementById("userPhoto").addEventListener("change", function(){
        readURL(this);
    });
    */

    var input = document.getElementById('userPhoto');
    input.addEventListener('change', function() {
        readURL(input);
    }, false);


</script>
</body>
</html>